@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./locomotive-scroll.css";

@font-face {
	font-family: 'Neue Mtl';
	src: url("../fonts/NeueMtl.otf")
}

@font-face {
	font-family: 'Voyage';
	src: url("../fonts/Voyage.ttf");
}

html,
body {
	height: 100%;
}

.is-hidden {
	transform: translateY(-100%);
}

.site-menu ul li {
	transform: translateY(100%);
	opacity: 0;
	display: block;
}

.work-container {
	position: relative;
}

.work-container canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.-translate-y-full {
	transform: translateY(-100%);
}


header ul li:not(:last-child) {
	margin-right: 5rem;

}
