@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}


.is-hidden {
  transform: translateY(-100%);
}

.site-menu ul li {
  transform: translateY(100%);
  opacity: 0;
  display: block;
}